@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
:root {
    --color-main : #43766C;
    --color-highlight: #D9D9D9;
    --color-text-1: #1e1e1e;
    --color-text-2: white;
    --bg-1: #D9E4E2;
    --bg-2: white; 

    --font: "Playfair Display", serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
/* Header */
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.356);
}

.header .hd-voucher {
    background: var(--color-main);
    color: #fff;
    padding: 3px;
    justify-content: space-between;
    display: flex;
}

.header .hd-voucher .hd-voucher-content {
    font-size: 15px;
    margin: auto;
}

.header .hd-voucher .hd-voucher-icon {
    color: black;
    font-size: 18px;
}

.header .hd-voucher .hd-voucher-icon:hover {
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
}

.header .hd-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: var(--color-text-2);
}

.header .hd-main .inner-logo img {
    height: 27px;
    width: auto;
}

.header .hd-main .inner-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.header .hd-main .inner-menu-box {
    display: flex;
    align-items: center;
}

.header .hd-main .inner-menu-box i {
    cursor: pointer;
}

.header .hd-main .inner-menu ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--color-text-1);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.2s;
    margin-left: 38px;
}

.header .hd-main .inner-menu ul li a:hover {
    color: var(--color-main);
}

.header .hd-main .inner-icon ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.header .hd-main .inner-icon ul li {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: inline-flex;
    font-size: 22.4px;
    color: var(--color-text-1);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .hd-main .inner-icon ul li a {
    color: var(--color-text-1);
}
/* End Header */
.space{
    top:51;
}

/* section */
.section{
    height: 300px;  /*chiều cao trong khối*/
    display: flex;  /* hiển thị , flex tự do xếp*/
    flex-direction: column; /*theo cốt*/
    align-items: center;   /*căn items theo chiều dọc*/
    justify-content: center;/*căn ngang*/
    color: #618C83;
    background: #D9E4E2;
    position: relative;
    top: 84px;
}

.section-title{
    text-align: center;
    font-size: 50px;
}
.section-border{
    
    width: 50px;
    border-top: 3px solid #8f9d9a;
    margin:auto;
    
}
.section-icons{
    text-align: center;
    margin-top: 110px; /*căn khoảng cách với */
    font-size: 20px;
}
.section-icons i{
    color:#43766C;
    text-align: center;
    margin-left: 15px;
}
/* End section */

/* Content */



.ct-text{
    position: relative;
    top: 51px;
    font-size: 18px;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 60px;
    margin-bottom: 15px;
    font-weight: 550;
    
}
.col-xl-12{
    
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 100;
        text-align:justify;
        
        
    
}
.ct-frame{
    width: 3px;
    border-top: 120px solid #8f9d9a;
    margin-left: 40px;
}
.box {
    padding-left: 50px;
    font-weight: 600;
    text-align:justify;
}
.box ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; 
}
.box li {
    margin-left: 0;
    padding-left: 10px; 
}
.ct-border{
    position: relative;
    top: 51px;
    height: 40px;  
    width: 500px;
    display: flex;  
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    color: var(--color-text-2);
    font-weight: 500;
    font-size: 18px;
    background: #79A199;
    text-align:justify;
    margin-left: 60px;
    
}

/* End Content */

/* Footer */
.footer {
    position: relative;
    top: 1000px;
    background: var(--color-main);
    padding: 10px;
}

.footer .footer-box-1 {
    margin-left: 100px;
}

.footer .footer-box-1 .footer-box-1-img {
    background: #fff;
    padding: 10px;
    display: inline-block;
    margin-top: 30px;
}

.footer .footer-box-1 .footer-box-1-img img {
    width: auto;
    height: 30px;
}

.footer .footer-box-1 .footer-box-1-content-1 {
    color: var(--color-text-2);
    font-size: 24px;
    opacity: 0.85;
    font-weight: 500;
    font-family: var(--font);
    margin-top: 30px;
    margin-bottom: 5px;
}

.footer .footer-box-1 .footer-box-1-content-2 {
    color: var(--color-text-2);
    font-size: 18px;
    opacity: 0.85;
    font-family: var(--font);
}

.footer .footer-box-1 .footer-box-1-signup-button {
    border: 1px #ffffff89 solid;
    border-radius: 12px;
    padding: 10px 30px;
    background: var(--color-text-2);
    text-align: center;
    display: inline;
    align-items: center;
    transition: all 0.3s;
}

.footer .footer-box-1 .footer-box-1-signup-button a {
    text-align: center;
    color: var(--color-text-1);
    font-size: 20px;
}

.footer .footer-box-1 .footer-box-1-signup-button:hover {
    background: var(--color-highlight);
}

.footer .footer-box-2 {
    margin-left: 70px;
    margin-top: 20px;
}

.footer .footer-box-2 .footer-box-2-inner {
    margin-right: 50px;
}

.footer .footer-box-2 .footer-box-2-inner p {
    color: var(--color-text-2);
    font-size: 18px;
}

.footer .footer-box-2 .footer-box-2-inner p a {
    color: var(--color-text-2);
    font-size: 18px;
}

.footer .footer-box-2 .footer-box-2-inner .underline {
    text-decoration: underline;
}

.footer .footer-box-2 .footer-box-2-inner .footer-box-2-title {
    color: var(--color-text-2);
    font-size: 30px;
    font-weight: 600;
}

.footer .footer-box-2 .footer-box-2-inner .footer-box-2-icon a {
    font-size: 22px;
    margin-right: 15px;
    color: var(--color-text-2);
}

.footer .footer-navbar {
    content: "";
    background: var(--color-text-2);
    width: calc(100% - 170px);
    height: 0.5px;
    position: absolute;
    bottom: 35px;
    margin-left: 100px;
}

.footer .footer-cs {
    color: var(--color-text-2);
    margin-left: 100px;
}

/* End Footer */
@media (max-width: 572px) {
    .section {
        top: 110px;
    }
    .header .hd-voucher {
        display: none !important;
    }
    .section-title {
        font-size: 35px;
    }
}
